* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6495ed;
}

#card {
    height: 385px;
    width: 300px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    background-color: #fff;
}

#card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 2px solid #808080;
}

#card h1 {
    font-size: 30px;
    font-weight: 600; 
}

#card h3 {
    font-size: 25px;
    font-weight: 600;
    color: #ff0000;
}

#card button {
    width: 110px;
    height: 45px;
    background-color: #5f9ea0;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#card #remove {
    margin-left: 10px;
    background-color: #dadada;
    color: #111;
}